extends layout

append css
  link(rel='stylesheet', href='/css/bootstrap.dark.css')
  link(rel='stylesheet', href='/css/login.css')
  script(type="text/javascript")
    | var data = {"username": "!{user.username}", "screenname": "!{user.screenname}", "skype": "!{user.skype}" };
block content
  #container
    form#authForm.form-signin(ng-controller="authFormCtrl", ng-submit='submit()', name="auth",  novalidate, form-autofill-fix,autocomplete=off)
      h2.form-signin-heading Account Settings

      input.form-control(type='hidden', name="username", placeholder='User name', required, autofocus, ng-model="data.username", ng-minlength="4", ng-maxlength="24", ng-pattern="/^[a-zA-Z0-9]*$/")
      h3 Username: {{data.username}}

      h4 Password(再入力)
      input.form-control(type='password', name="password", placeholder='Password', required, ng-model="data.password", ng-pattern="/^[a-zA-Z0-9]*$/")
      span.error(ng-show="auth.password.$error.pattern") Need alphanumeric.
      
      h4 ScreenName
      input.form-control(type='text', name="screenname", placeholder='Screen name', required, ng-model="data.screenname", ng-minlength="2", ng-maxlength="24")
      span.error(ng-show="auth.screenname.$error.minlength") Too short.
      span.error(ng-show="auth.screenname.$error.maxlength") Too long.
      
      h4 SkypeID
      input.form-control(type='text', name="skype", placeholder='Skype ID', required, ng-model="data.skype")

      button(class='btn btn-lg btn-primary btn-block', type='submit', ng-disabled="auth.$invalid || sent")
        | {{buttonmsg}}

      p {{errormsg}}
      a(href="/userdel?username=#{user.username}").btn.btn-danger.btn-block.btn-lg AccountDelete
  hr
  a(href="/game").btn.btn-primary Back